In [1]:
import requests
from pprint import pprint

import pandas as pd
import urllib.parse


url = 'https://www.geonames.org/advanced-search.html?q=Москва&country=&featureClass=P&continentCode='
resp = requests.get(url)
website = resp.text

tables = pd.read_html(website, encoding="UTF-8")

/home/alice/Documents/TempTravelHack/venv/lib/python3.7/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [1]:
import numpy as np
import pandas as pd

/home/alice/Documents/TempTravelHack/venv/lib/python3.7/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [ ]:
with open('DataSet_26.03.2021.xlsx', 'rb') as f:
    df = pd.read_excel(f, sheet_name=0)

In [2]:
df = pd.read_csv('Datasetv2.csv')

In [23]:
df['Trip Name'].map(lambda x: x.split(' ')[-1])

0         LED
1         LED
2         MOW
3         MOW
4         MOW
         ...
209604    LED
209605    MOW
209606    MOW
209607    MOW
209608    LED
Name: Trip Name, Length: 209609, dtype: object

In [24]:
df['Trip Name']

0              Turkey Antalya LED
1              Turkey Antalya LED
2              Turkey Antalya MOW
3              Turkey Antalya MOW
4              Turkey Antalya MOW
                   ...
209604         Turkey Antalya LED
209605         Turkey Antalya MOW
209606         Turkey Antalya MOW
209607    TUI Premium Antalya MOW
209608         Turkey Antalya LED
Name: Trip Name, Length: 209609, dtype: object

In [26]:
df

,Gender,Birthday,Age,Order,Order Date,Trip Start Date,Year,N Nights,Trip Type,Order Type,...,Baby Tourists,Star Rate,Group Type,Price,Trip Name,Client ID,Booking Depth,Meal Option,Destination City,Departure City
0,мужской,2018-08-28 00:00:00,2.0,4803671,2021-02-07 20:44:00,2021-05-04 00:00:00,2021,12,Пляжный отдых,Пакет,...,0,4.0,Семья,1718.64,Turkey Antalya LED,4197428,85.136111,AI,NaN,Санкт-Петербург
1,мужской,1991-04-25 00:00:00,29.0,4803671,2021-02-07 20:44:00,2021-05-04 00:00:00,2021,12,Пляжный отдых,Пакет,...,0,4.0,Семья,1718.64,Turkey Antalya LED,4197429,85.136111,AI,NaN,Санкт-Петербург
2,мужской,1980-11-05 00:00:00,40.0,4803915,2021-02-08 09:03:00,2021-03-04 00:00:00,2021,6,Пляжный отдых,Пакет,...,0,5.0,Семья,948.45,Turkey Antalya MOW,4197517,23.622917,UAI,Боазкент,Москва
3,мужской,2013-02-27 00:00:00,8.0,4806034,2021-02-08 19:46:00,2021-10-09 00:00:00,2021,11,Пляжный отдых,Пакет,...,0,5.0,Семья,2128.15,Turkey Antalya MOW,4197718,242.176389,UAI,Текирова,Москва
4,мужской,1968-10-06 00:00:00,52.0,4806034,2021-02-08 19:46:00,2021-10-09 00:00:00,2021,11,Пляжный отдых,Пакет,...,0,5.0,Семья,2128.15,Turkey Antalya MOW,4197719,242.176389,UAI,Текирова,Москва
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209604,женский,1980-08-20 00:00:00,40.0,4778919,2021-01-27 14:47:00,2021-04-26 00:00:00,2021,6,Пляжный отдых,Пакет,...,0,4.0,Одиночки,468.29,Turkey Antalya LED,4141837,88.384028,AI,NaN,Санкт-Петербург
209605,женский,1995-07-10 00:00:00,25.0,4779312,2021-01-27 16:43:00,2021-07-09 00:00:00,2021,9,Пляжный отдых,Пакет,...,0,4.0,Пары,1008.25,Turkey Antalya MOW,4142747,162.303472,AI,Лара,Москва
209606,женский,2006-03-21 00:00:00,15.0,4781946,2021-01-28 19:41:00,2021-05-01 00:00:00,2021,14,Пляжный отдых,Пакет,...,0,5.0,Пары,1622.84,Turkey Antalya MOW,4148931,92.179861,UAI,NaN,Москва
209607,женский,1970-08-24 00:00:00,50.0,4600713,2020-08-26 20:53:00,2020-09-06 00:00:00,2020,10,VIP,Premium,...,0,5.0,Пары,2435.55,TUI Premium Antalya MOW,4148875,10.129861,UAI,Белек Центр,Москва
209608,женский,1980-07-04 00:00:00,40.0,4783846,2021-01-29 16:21:00,2021-07-24 00:00:00,2021,10,Пляжный отдых,Пакет,...,0,5.0,Пары,2142.70,Turkey Antalya LED,4153319,175.318750,UAI,NaN,Санкт-Петербург

In [28]:
url = 'https://www.nationsonline.org/oneworld/IATA_Codes/airport_code_list.htm'

resp = requests.get(url)
website = resp.text

tables = pd.read_html(website, encoding="UTF-8")

In [36]:
airports_df = pd.concat(tables, ignore_index=True).dropna()

In [42]:
clear_airports_df = airports_df.loc[airports_df[2].map(lambda x: len(x)) == 3]

In [46]:
clear_airports_df.columns = ['City', 'Country', 'IATA airport code']

In [48]:
clear_airports_df.to_csv('airport_code.csv')

In [56]:
trip_names = df['Trip Name'].unique()

In [69]:
def map_airport_from(row):
    for code in clear_airports_df['IATA airport code'].values:
        if code in row['Trip Name']:
            return code
    return np.nan

airport_from = df.apply(map_airport_from, axis=1)

In [84]:
def map_airport_to(row):
    for code in clear_airports_df['IATA airport code'].values:
        if code in row['Trip Name']:
            return code
    return np.nan


np_map_airport_to = np.vectorize(map_airport_to)

# airport_from = df.apply(map_airport_from, axis=1)

In [77]:
(airport_from.isna() == True).sum()

12918

In [79]:
dff = df[['Trip Name']]

In [80]:
dff['From'] = airport_from

/home/alice/Documents/TempTravelHack/venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [85]:
dff_nan = dff[dff['From'].isna()]

In [88]:
dff_nan['Trip Name'].uniquee()

array(['TUI Premium Turkey (hotel only) RU Antalya',
       'Россия (только отель)', 'Maldives (hotel+transfer) RU',
       'UAE Hotel Only', 'Turkey (hotel only) RU Antalya',
       'Turkey Antalya KRR', 'Продажа доп. услуг отдельно',
       'Turkey Antalya VOZ', 'TUI Premium Россия (только отель)', 'Круиз',
       'UAE Hotel Only part 3', 'Абхазия (только отель)',
       'TUI Premium Antalya VOZ', 'Беларусь (только отель)',
       'Turkey Antalya PEE', 'TUI Premium Antalya KRR',
       'Turkey (hotel only) RU Dalaman', 'Turkey Antalya NJC',
       'Cyprus S21 (hotel only) RU', 'Turkey Istanbul (hotel only) RU',
       'Россия Красная Поляна (только отель)', 'Turkey Antalya CEK',
       '*Индивидуальный туризм', 'Cyprus S20 (hotel only) RU',
       'UAE Dubai DWC Ural Airlines',
       'UAE Dubai DWC Ural Airlines part 2',
       'Spain Mallorca (only hotel)', 'Cyprus KRR',
       'Spain Barcelona (only hotel)', 'Italy Individual RU',
       'Россия Сочи (только отель)', 'Greece Crete (hotel only)',
       'Turkey Antalya KJA', 'Montenegro (hotel only) RU',
       'Italy City Tour (hotel only) RU', 'Turkey Antalya EGO',
       'Turkey Antalya NBC', 'Vietnam Nha Trang (hotel only) RU',
       'Croatia Pula (hotel only) RU', 'Россия Анапа (только отель)',
       'Thailand Phuket (hotel only) RU',
       'Croatia Dubrovnik (hotel only) RU', 'Italy (hotel only) RU',
       'UAE Dubai KRR DWC', 'Bulgaria (hotel only) RU',
       'TUI Premium Antalya S19 PEE',
       'Убуд (2 ночи) + о.Бали (8 ночей) + Сингапур (2 ночи), Singapore Airlines',
       'Turkey Antalya TJM', 'TUI Premium Turkey (hotel only) RU Bodrum',
       'Кострома полна чудес 2 дня (Золотое кольцо)',
       'Montenegro S20 (hotel only) RU',
       'Spain Barcelona (Dorada&Brava) (only hotel)',
       'Thailand Phuket W1920 VVO',
       'Россия Сочи-Красная Поляна (только отель)',
       'Spain Tenerife (only hotel)', 'TUI Premium Antalya S19 KRR',
       'Летние хиты Карелии, 5 дней (Карелия без перелета)',
       'Домбай-Приэльбрусье (без перелета)', 'TUI Premium Cyprus KRR',
       'Россия Сочи VOZ Ural Airlines',
       'Россия Кемеровская область (без перелета)',
       'TUI Premium UAE Hotel Only', 'Россия КМВ (только отель)',
       'Turkey (hotel only) RU Bodrum',
       'Москва и Подмосковье (без перелета)',
       'Калининград (только отель).', 'Абхазия MQF GDS',
       'Turkey S18 (hotel only) RU', 'Hungary RU (hotel only)',
       'Thailand (hotel only) RU part', 'Croatia Split (hotel only) RU',
       'Greece VOZ', 'Czech Republic Prague (без авиаперелета)',
       'о.Бали (10 ночей) + Сингапур (2 ночи), Singapore Airlines',
       'Latvia Jurmala RU', 'Thailand (hotel only) RU',
       'Sri Lanka (hotel+transfer) RU',
       'Чехия-Горные лыжи (без авиаперелета)', 'UAE Dubai PEE DWC',
       'Turkey S20 (hotel only) RU Dalaman', 'Калининград (только отель)',
       'Spain Barcelona KRR', 'Россия Санкт-Петербург (только отель)',
       'UAE Hotel Only part 2', 'TUI Premium UAE Dubai DWC Ural Airlines',
       'Cyprus VOZ', 'Andorra (only hotel)', 'Россия Сочи TJM GDS',
       'Геленджик (только отель)',
       'Великий Устюг из Москвы (включены жд билеты) - не считается',
       'Экскурсионный тур Город МастерOFF',
       'Великий Устюг экскурсионные туры (без перелета)',
       'Россия Золотое Кольцо (только отель)',
       'Санкт-Петербург экскурсионные туры (без перелета)',
       'Россия Сочи NJC GDS', 'Россия Сочи-Красная Поляна SGC GDS',
       'Россия Санкт-Петербург KJA GDS', 'TUI Prestige Antalya S18 KRR',
       'Классический Санкт-Петербург (Санкт-Петербург без перелета)',
       'TUI Premium Antalya S19 VOZ', 'France Paris (без авиаперелета)',
       'Англия-Шотландия-Уэльс (без авиаперелета)',
       'Mauritius (hotel only) RU', 'о.Бали (только отели)',
       'TUI Prestige Antalya S18 CEK',
       'о.Бали (12 ночей), Singapore Airlines',
       'Лазурный берег (без авиаперелета)', 'Cyprus S18 KRR',
       'Turkey Antalya BZK', 'Встречай, Казань! (Казань без перелета)',
       'Cuba (hotel only) RU',
       'Удиви меня, Казань! (Казань без перелета)',
       'Санкт-Петербург - день за днем. От истории к истории (без перелёта)',
       'Зимний поезд к Деду Морозу в Великий Устюг из Москвы',
       'В Санкт-Петербург - легче легкого!(Санкт-Петербург без перелета)',
       'Великий Устюг экскурсионные туры из Москвы (включены ж/д билеты)',
       'Spain Madrid (only hotel)', 'Croatia Pula (hotel only) PL RU',
       'Montenegro CEK GDS', 'TUI Premium UAE Dubai VOZ DWC',
       'UAE Dubai VOZ DWC', 'UAE Dubai NBC DWC',
       'Испания: Экскурсионные туры Madrid GDS',
       'TUI Premium Antalya S19 BZK', 'Thailand Pattaya KJA GDS (S7)',
       'Greece VOG', '3 дня с Петербургом (Санкт-Петербург без перелета)',
       '10 чудес Карелии. Лучшее за два дня (Карелия без перелета)',
       'Туры на Масленицу по Золотому кольцу России',
       'Россия Сочи BZK GDS', 'Россия Анапа TJM GDS',
       'Пермь только отель (Пермь без перелета)',
       'К Деду Морозу в Великий Устюг из Москвы на поезде',
       'Чехия-Лечебные туры (без авиаперелета)',
       'Новый год с Дедом Морозом в В.Устюге+чаепитие с Дед Морозом',
       'UAE VOZ Dubai DWC part 2', 'Georgia Borjomi (only hotels) RU',
       'Thailand Pattaya VVO GDS (S7)',
       'Germany Munich (без авиаперелета)', 'Россия Сочи KJA GDS',
       'Владимирское княжество, 2 дня (Золотое кольцо России)',
       'Санкт-Петербург - день за днем. Золотая коллекция (Санкт-Петербург)',
       'TUI Premium Antalya S19 EGO', 'Россия Сочи KRR GDS',
       'Россия Сочи ULY GDS', 'Georgia Tbilisi (only hotels) RU',
       'Estonia Tallinn (без авиаперелета)',
       'SPA-отели Финляндии (без авиаперелета)',
       'Greece Corfu (hotel only)', 'UAE Dubai KRR DWC part 3',
       'Абхазия CEK GDS', 'Dynamic package: Germany GDS',
       'Vietnam Phan Thiet (only hotel) RU',
       'Большое путешествие в Петербург СЕК GDS', 'Andorra KRR GDS',
       'Italy (hotel only) RU old', 'Turkey Antalya OMS',
       'Россия Иркутская область экскурсионные туры (без перелета)',
       'Turkey Antalya VOG', 'Россия Сочи VOZ', 'Turkey Antalya REN',
       'Россия Сочи CEK GDS', 'Россия Сочи VOZ GDS',
       'Turkey Antalya ULV(Vostochniy)', 'Turkey Dalaman KRR',
       'Экскурсионный тур Три дня с Петербургом',
       'Казань экскурсионные туры (без перелета)',
       'Moscow Antalya Excursion Tours',
       'Россия Бурятия экскурсионные туры (без перелета)',
       'Открой для себя Грузию S18 GDS', 'Dynamic package: Estonia GDS',
       'Turkey S20 (hotel only) RU Bodrum',
       'Czech Republic Prague VOZ GDS',
       'TUI Premium UAE EK 132 [БЛОКИ МЕСТ]',
       'В сердце Петербурга (Санкт-Петербург без перелета)',
       'Spain Ibiza(only hotel)',
       'Стамбул – город мечты (Стамбул без авиаперелета)',
       'о.Бали (10 ночей), Singapore Airlines', 'Greece KRR',
       'Thailand Pattaya KRR GDS', 'Классическая Ривьера (без перелета)',
       'Thailand Phuket VVO GDS',
       'Северо-Восточная Русь 3 дня (Золотое кольцо России)',
       'Новогодние каникулы в Великом Устюге (без перелета)',
       'Thailand Pattaya W1920 VVO', 'Portugal Lisbon RU',
       'Россия Сочи VOZ (only tickets)',
       'Калининград экскурсионные туры (без перелета)',
       'Испания: Экскурсионные туры Madrid (only program)',
       'Austria W1819 (hotel only) RU', 'Sri Lanka W1718',
       'Israel (hotel only) Eilat Dead Sea RU',
       'Thailand Pattaya W1920 TJM', 'Классическая Италия KRR GDS',
       'Большое золотое кольцо России 7 дней (Золотое кольцо России)',
       'Thailand Pattaya UUS GDS',
       'Белорусская классика, 5 дней (Беларусь без перелета)',
       'Замки Беларуси 2 дня (Беларусь без перелета)',
       'Cuba Santa Maria (hotel only) RU',
       'Легендарная Русь 2 дня (Золотое кольцо России)',
       'Лондон-hotel only (без авиаперелета)', 'Russia (only hotel)',
       'Мурманск Экскурсионные туры (только отель)',
       'Dynamic package: Portugal GDS',
       'Вся Беларусь за 7 дней (на автобусе из Москвы)',
       'Sweden Stockholm (без авиаперелета)',
       'Мир Диснея (без авиаперелета)',
       'Убуд (2 ночи) + о.Бали (10 ночей), Singapore Airlines',
       'Turkey Istanbul KRR GDS', 'Hungary UA (hotel only)',
       'Spain Barcelona KRR GDS', 'Thailand Pattaya VVO GDS',
       'Italy Calabria (hotel only) RU',
       'Классическая Швейцария (без перелета)', 'Сокровища Грузии S18',
       'Туапсе (только отель)', 'Thailand Phuket W1920 KJA',
       'Абхазия разное', 'Россия прочее',
       'Большое путешествие в Петербург (Санкт-Петербург без перелета)',
       'Санкт-Петербург (без перелета)', '10 чудес Карелии, 2 дня',
       'Золотое кольцо экскурсионные туры (без перелета)',
       'Dynamic package: Spain GDS',
       'Новый год и Рождество на Золотом Кольце (Золотое кольцо России)',
       'Гурман Тур в Грузию (без перелета)', 'Latvia Riga RU',
       'Стамбул – город мечты VOZ GDS', 'South Korea (hotel only)',
       'Золотое Кольцо из Москвы, 4 дня (Золотое Кольцо России без перелета)',
       'Dynamic package: Switzerland GDS',
       'Экскурсионные туры в Грузию (only hotels) RU',
       'Cuba (tickets) RU', 'Turkey Istanbul VOZ GDS',
       'Грузия Индивидуальные туры RU',
       'Здравствуй, Казань! (Казань без перелета)',
       'Israel (hotel only) RU',
       'Рождество в Янтарном Крае (Калининград без перелета)',
       'Jordan Aqaba (Hotel Only)',
       'Китай о.Хайнань (прилет в Санью) VVO',
       'Камчатка Light, 7 дней (Камчатка без перелета)',
       'Thailand Phuket (hotel only) RU part',
       'Испания: Экскурсионные туры Barcelona (only program)',
       'Vietnam Phan Thiet W17/18 GDS', 'Czech Republic Prague KRR GDS',
       'Отели Беларуси (без перелета)',
       'Петербургская Коллекция (Санкт-Петербург без перелета)',
       'По Следам Великих Цивилизаций (Стамбул без авиаперелета)',
       'Великий Волжский Путь: Три Столицы Поволжья',
       'Россия Санкт-Петербург NOZ GDS', 'Абхазия PEE GDS',
       'Новогодние праздники в Подмосковье, санаторий "Волна"',
       'Turkey Ski RU', 'Россия Сочи PEE GDS', 'TUI Premium Antalya ASF',
       'Экскурсионный тур Путешествие по Пскову',
       'Экскурсионный тур История, вышитая вручную', 'Санатории Беларуси',
       'Алтай экскурсионные туры (без перелета)',
       'TUI Premium Antalya S19 NJC',
       'Русь святая 2 дня (Золотое кольцо России)',
       'Малое Золотое кольцо России 4 дня (Золотое кольцо России)',
       'Экскурсионный тур Нижегородская история',
       'Рекламный тур в Великий Устюг 2020', 'Абхазия GSV GDS',
       'Greece KAZ', 'Мюнхен Эконом (без авиаперелета)',
       'Вся Прибалтика на Новый Год или Рождество (без авиаперелета)',
       'LK AVIA (tickets only)',
       'Золотые купола России 5 дней (золотое кольцо России)',
       'Новогодние туры по Золотому Кольцу России. Часть 1 (без перелета)',
       'Выходные в Минске 3 дня (Беларусь без перелета)',
       'Georgia Batumi (only hotels) RU', 'TUI Premium Antalya S19 KJA',
       'Dynamic package: France GDS',
       'Карелия экскурсионные туры (без перелета)',
       'Новогодний тур по Изумрудному Острову (без авиаперелета)',
       'Italy Rome VOZ GDS', 'Королевский Стокгольм (без авиаперелета)',
       'Цикличный тур «Янтарный вояж» (Калининград без перелета)',
       'Курорт Белокуриха (только проживание)',
       'Рандеву Варшава-Краков (без авиаперелета)',
       'Северная Пальмира, 5 дней (Санкт-Петербург без перелета)',
       'Большое Петербургское путешествие (Санкт-Петербург без перелета)',
       'Великий Новгород экскурсионные туры (без перелета)',
       'Экскурсионный тур По Нижегородскому краю',
       'GR PR and Press BAIKAL из Екатеринбурга',
       'Рекламный тур "Алтай-золотые горы" 6 дней/5 ночей',
       'Thailand Phuket W1920 CEK', 'UAE TUI FAM trip RU',
       '3 дня с Петербургом лайт (Санкт-Петербург без перелета)',
       'Dynamic package: Italy GDS',
       'Париж и Замки Луары (без авиаперелета)', 'Абхазия TJM GDS',
       'Уездный город 2 дня (Золотое Кольцо России)',
       'Древние водопады и каньоны Карелии, 2 дня (Карелия без перелета)',
       'Новогодние мечты о Грузии (без перелета)',
       'UAE Инфотур (Марафон)', 'Прага-Вена-Дрезден KJA GDS',
       'Infotour Andorra', 'Infotour Albania S19',
       'Czech Republic Prague CEK GDS',
       'Большой новогодний тур по Карелии (без перелета)',
       'Экскурсионный тур Великий Новгород - Псков',
       'Рекламный тур в Подмосковье с TUI',
       'Россия Казань (только отель)', 'Infotour Spain-Andorra S18',
       'Прага Стандарт CEK GDS',
       'Ruskeala Symphony - Музыкальный фестиваль в горном парке, 2 или 3 дня',
       'TUI Business trip Бурятия Юг',
       'Рекламный тур в Калининград c TUI', 'Infotour Spain Tenerife',
       'Суздальское княжество 2 дня (Золотое кольцо России)',
       'В Тридевятом Царстве, 8 дней (Калининград без перелета)',
       'Япония: Экскурсионные туры (без авиаперелета)',
       'Россия КМВ CEK GDS',
       'Легенды Беларуси, 5 дней (Беларусь без перелета)',
       'Гранд тур "Вся Карелия", 3 дня (Карелия без перелета)',
       'Spain Costa Del Sol (only hotel)', 'Infotour Байкал',
       'Нетленная классика, 2 дня',
       'Экскурсионный тур Яркие выходные в Самаре',
       'Золотой Маршрут Турции (без авиаперелета)',
       'Россия Экскурсионные туры (без перелета)',
       'GR PR and Press BAIKAL'], dtype=object)

In [118]:
hotel_only = ['без перелета', 'без авиаперелета', 'hotel only', 'Hotel Only', 'только отель', 'отдельно']

In [115]:
# def f(row):
#     print(type(row))
#     if row['From'] is np.nan:
#         for ss in hotel_only:
#             if ss in s:
#                 row['From'] = 'hotel_only'
#     return row

# np_f = np.vectorize(f)

# ho_df = dff.apply(np_f, axis=1)

In [119]:
for i, row in enumerate(dff.itertuples()):
    if dff.iloc[i, 1] is np.nan:
        for ss in hotel_only:
            if ss in dff.iloc[i, 0]:
                dff.iloc[i, 1] = 'hotel_only'

/home/alice/Documents/TempTravelHack/venv/lib/python3.7/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/alice/Documents/TempTravelHack/venv/lib/python3.7/site-packages/pandas/core/indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [120]:
dff[dff['From'].isna()]

                           Trip Name From
121     Maldives (hotel+transfer) RU  NaN
248               Turkey Antalya KRR  NaN
249               Turkey Antalya KRR  NaN
425               Turkey Antalya VOZ  NaN
536     Maldives (hotel+transfer) RU  NaN
...                              ...  ...
209446        GR PR and Press BAIKAL  NaN
209479           Россия Сочи PEE GDS  NaN
209507            Turkey Antalya OMS  NaN
209529                         Круиз  NaN
209597               Infotour Байкал  NaN

[5959 rows x 2 columns]

In [123]:
clear_airports_df[clear_airports_df['IATA airport code'] == 'KRR']

Empty DataFrame
Columns: [City, Country, IATA airport code]
Index: []

In [126]:
df.iloc[209446, :]

Gender                             женский
Birthday               1971-12-08 00:00:00
Age                                   49.0
Order                              4795357
Order Date             2021-02-03 15:08:00
Trip Start Date        2021-02-06 00:00:00
Year                                  2021
N Nights                                 8
Trip Type                    Рекламный Тур
Order Type                         Инфотур
Country                             Россия
Region                                 NaN
N Tourists                               1
Adult Tourists                           1
Kid Tourists                             0
Baby Tourists                            0
Star Rate                              NaN
Group Type                        Одиночки
Price                               160.23
Trip Name           GR PR and Press BAIKAL
Client ID                          4175586
Booking Depth                     2.369444
Meal Option                            NaN
Destination City                       NaN
Departure City                      Москва
Name: 209446, dtype: object

In [129]:
pip install geopy

Collecting geopy
  Downloading https://files.pythonhosted.org/packages/0c/67/915668d0e286caa21a1da82a85ffe3d20528ec7212777b43ccd027d94023/geopy-2.1.0-py3-none-any.whl (112kB)
     |████████████████████████████████| 112kB 507kB/s eta 0:00:01
Collecting geographiclib<2,>=1.49 (from geopy)
  Downloading https://files.pythonhosted.org/packages/8b/62/26ec95a98ba64299163199e95ad1b0e34ad3f4e176e221c40245f211e425/geographiclib-1.50-py3-none-any.whl
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-2.1.0
WARNING: You are using pip version 19.2.3, however version 21.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [175]:
df.sample(5)

,Gender,Birthday,Age,Order,Order Date,Trip Start Date,Year,N Nights,Trip Type,Order Type,...,Baby Tourists,Star Rate,Group Type,Price,Trip Name,Client ID,Booking Depth,Meal Option,Destination City,Departure City
160666,женский,1978-11-20 00:00:00,42.0,3062885,2018-03-25 00:57:00,2018-06-30 00:00:00,2018,10,Пляжный отдых,Пакет,...,0,NaN,Семья,3469.60,Spain Barcelona MOW W19/20,17816,96.960417,NaN,NaN,Москва
62204,мужской,1968-12-29 00:00:00,52.0,4864129,2021-02-27 21:28:00,2021-07-27 00:00:00,2021,14,Пляжный отдых,Пакет,...,0,5.0,Пары,3641.17,Turkey Bodrum MOW,4343503,149.105556,AI,Ичмелер,Москва
103513,женский,1970-08-28 00:00:00,50.0,3194347,2018-06-28 22:26:00,2018-07-09 00:00:00,2018,10,Пляжный отдых,Пакет,...,0,NaN,Семья,2383.11,Cyprus S18 MOW,89109,10.065278,NaN,NaN,Москва
97395,женский,2015-11-11 00:00:00,5.0,3501823,2019-02-26 17:47:00,2019-06-15 00:00:00,2019,7,Пляжный отдых,Пакет,...,0,5.0,Семья,2381.13,Turkey Antalya MOW,1071931,108.259028,AI,Титреенгёль,Москва
49362,мужской,2018-02-19 00:00:00,3.0,4065547,2019-09-13 23:32:00,2019-10-10 00:00:00,2019,9,Пляжный отдых,Пакет,...,1,5.0,Семья,1756.55,Turkey Antalya MOW,2223351,26.019444,AI,Конаклы,Москва

In [180]:
from pprint import pprint
from geopy.geocoders import Photon, Baidu, Geolake, Nominatim

geolocator = Nominatim(user_agent="pYgAtjetScPzRm8GcM5x")
geolocator = Photon()

location = geolocator.geocode('Turkey Antalya MOW', language='en')
pprint(location.raw)

{'geometry': {'coordinates': [30.6954846, 36.9009641], 'type': 'Point'},
 'properties': {'city': 'Muratpaşa',
                'country': 'Turkey',
                'countrycode': 'TR',
                'name': 'Antalya',
                'osm_id': 428039517,
                'osm_key': 'place',
                'osm_type': 'N',
                'osm_value': 'city',
                'postcode': '07010',
                'state': 'Antalya',
                'type': 'district'},
 'type': 'Feature'}

In [183]:
df['Trip Name'].unique().size

1263

In [6]:
api_key = 'd9e403af-01ae-41ab-831b-38e94355837d'

from decimal import Decimal

from yandex_geocoder import Client

client = Client(api_key)

coordinates = client.coordinates("Москва Льва Толстого 16")
# assert coordinates == (Decimal("37.587093"), Decimal("55.733969"))

InvalidKey:

In [77]:
fd = df[['Trip Name', 'Destination City']]
fd['x'] = None
fd['y'] = None

/home/alice/Documents/TempTravelHack/venv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/alice/Documents/TempTravelHack/venv/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [128]:
import time

for row in fd[fd['x'].isna()].iterrows():
    index = row[0]
    trip_name = row[1]['Trip Name']
    dest_city = row[1]['Destination City']
    if not dest_city is np.nan and row[1]['x'] is np.nan:
        coordinates = client.coordinates(dest_city)
        fd.loc[fd['Destination City'] == dest_city, 'x'] = coordinates[0]
        fd.loc[fd['Destination City'] == dest_city, 'y'] = coordinates[1]
#         print(fd.loc[fd['Destination City'] == dest_city, 'y'])

In [129]:
fd[~fd['x'].isna()]

,Trip Name,Destination City,x,y,temp_addr
0,Turkey Antalya LED,NaN,30.701659,36.885843,None
1,Turkey Antalya LED,NaN,30.701659,36.885843,None
2,Turkey Antalya MOW,Боазкент,35.302075,39.056249,None
3,Turkey Antalya MOW,Текирова,30.525903,36.501248,None
4,Turkey Antalya MOW,Текирова,30.525903,36.501248,None
...,...,...,...,...,...
209604,Turkey Antalya LED,NaN,30.701659,36.885843,None
209605,Turkey Antalya MOW,Лара,32.466821,37.883113,None
209606,Turkey Antalya MOW,NaN,30.701659,36.885843,None
209607,TUI Premium Antalya MOW,Белек Центр,31.063114,36.864517,None
209608,Turkey Antalya LED,NaN,30.701659,36.885843,None

In [130]:
fd[fd['x'].isna()]

,Trip Name,Destination City,x,y,temp_addr
11,Cyprus LED,Протарас,None,None,None
27,Байкал экскурсионные туры MOW-UUD,NaN,None,None,None
30,Абхазия MOW GDS,NaN,None,None,None
42,Россия Сочи MOW GDS,Имеретинская Бухта,None,None,None
50,Россия Сочи LED GDS,NaN,None,None,None
...,...,...,...,...,...
209596,UAE Dubai MOW DXB EK [БЛОКИ МЕСТ] part 3,Пальма Джумейра,None,None,None
209597,Infotour Байкал,NaN,None,None,None
209599,Россия Сочи MOW,Центральный Сочи,None,None,None
209602,UAE Dubai GDS MOW DXB part 3,NaN,None,None,None
209603,Байкал экскурсионные туры MOW-UUD,Улан-Удэ,None,None,None

In [107]:
coordinates = client.coordinates(f'Turkey Antalya')

In [108]:
coordinates

(Decimal('30.701659'), Decimal('36.885843'))

In [119]:
fd.loc[fd['Trip Name'].str.contains('Antalya') & fd['Destination City'].isna(), 'x'] = coordinates[0]

In [121]:
fd[fd['x'].isna()].sample(5)

                 Trip Name Destination City     x     y
41053   Italy Calabria MOW              NaN  None  None
100890          Cyprus MOW         Айя-Напа  None  None
67106   Montenegro MOW GDS              NaN  None  None
25739       Cyprus S18 MOW              NaN  None  None
122344   Sri Lanka MOW GDS              NaN  None  None

In [126]:
fd['temp_addr'] = None

/home/alice/Documents/TempTravelHack/venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [148]:
fd.to_csv('coords.csv')

In [123]:
cd = client.coordinates('Айя-Напа')

In [124]:
r = client.address(*cd)

In [125]:
r

'Кипр, Айя-Напа, Лука Лука'

In [122]:
coordinates = client.coordinates('Айя-Напа')
print(coordinates)

(Decimal('33.9987'), Decimal('34.990185'))

In [72]:
fd.loc[fd['Destination City'] == 'Боазкент', 'x'] = 'kek'

/home/alice/Documents/TempTravelHack/venv/lib/python3.7/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/alice/Documents/TempTravelHack/venv/lib/python3.7/site-packages/pandas/core/indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [73]:
fd.loc[fd['Destination City'] == 'Боазкент']

                 Trip Name Destination City    x     y
2       Turkey Antalya MOW         Боазкент  kek  None
122     Turkey Antalya MOW         Боазкент  kek  None
287     Turkey Antalya LED         Боазкент  kek  None
379     Turkey Antalya MOW         Боазкент  kek  None
672     Turkey Antalya MOW         Боазкент  kek  None
...                    ...              ...  ...   ...
208545  Turkey Antalya MOW         Боазкент  kek  None
208597  Turkey Antalya MOW         Боазкент  kek  None
208697  Turkey Antalya MOW         Боазкент  kek  None
209552  Turkey Antalya MOW         Боазкент  kek  None
209572  Turkey Antalya MOW         Боазкент  kek  None

[1459 rows x 4 columns]